<div class="page">
  <div class="header">
    <p class="name">
      Oleksandr Mokhnatko<br /><span class="title">Frontend developer</span>
    </p>
    <p class="contacts">
      <span class="contacts__item contacts__item--phone">
        +380 68 389 05 59</span
      >
      <span class="contacts__item contacts__item--mail">
        mohnatko.nezhin@gmail.com</span
      >
      <span class="contacts__item contacts__item--linkedin">
        www.linkedin.com/in/oleksandr-mokhnatko</span
      >
      <span class="contacts__item contacts__item--city"> Kyiv</span>
    </p>
  </div>

  <div class="body">
    <div class="block">
      <p class="block-header">Summary</p>
      <div class="block-body">
        <div class="exp-item">
          <p class="exp-description">
            Active and skilled front-end developer with experience of problem
            solving on various projects. Responsible, creative, team player.
            Interested in implementation of new solution and also ready to apply
            all my knowledge to provide improvements or support for existing
            systems
          </p>
        </div>
      </div>
    </div>

    <div class="block" style="margin-bottom: 15px">
      <p class="block-header">Skills</p>
      <div class="block-body">
        <span class="skill">HTML</span>
        <span class="skill">CSS/SCSS</span>
        <span class="skill">JavaScript (ES 6+)</span>
        <span class="skill">TypeScript</span>
        <span class="skill">Angular</span>
        <span class="skill">RxJs</span>
        <span class="skill">Bootstrap</span>
        <span class="skill">Angular Material</span>
        <span class="skill">Trello/Jira</span>
        <span class="skill">GIT</span>
        <span class="skill">REST API</span>
      </div>
    </div>

    <div class="block">
      <p class="block-header">Experience</p>
      <div class="block-body">
        <div class="exp-item">
          <p class="exp-dates">MAR 2021 &ndash; APR 2021</p>
          <p class="exp-company">Programming course</p>
          <p class="exp-description">Angular basics. (Vladilen Minin)</p>
        </div>
      </div>
      <div class="block-body">
        <div class="exp-item">
          <p class="exp-dates">MAY 2021 &ndash; MAY 2022</p>
          <p class="exp-company">Tekrum</p>
          <p class="exp-title">Frontend developer</p>
          <p class="exp-description">
            Development of mobile-first adaptive landing pages mainly using
            Angular Material. Creation of animations on these pages provided by
            design team. Adaption of HTML markup according to required frontend
            features and web-standards best practices. Integration with REST
            API: forms submission, forms validation, fetching listed data.
            Development of frontend API for a CRM system of the city scale.
            Creation of the architecture of the project. Development of
            architecture for the system of forming and constructing survey
            system. Developing solutions for user different actions, data access
            control, data import and export. Interaction with customers:
            elaboration of requirements, offering solutions. Investigation and
            resolving issues, code refactoring and project support.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <p class="block-header">Education</p>
    <div
      class="block-body"
      style="display: flex; justify-content: space-between"
    >
      <div class="eduction-item">
        <p class="education-venue">Nizhyn Agrotechnical Institute</p>
        <p class="education-dates">2011 &ndash; 2017</p>
        <p class="education-prof">
          Specialist Degree in Agricultural production power engineering
        </p>
      </div>
    </div>
  </div>
  <div class="block">
    <p class="block-header">Languages</p>
    <div
      class="block-body"
      style="display: flex; justify-content: space-between"
    >
      <p class="language-item">Ukrainian &ndash; native</p>
      <p class="language-item">English &ndash; pre-intermediate</p>
      <p class="language-item">Russian &ndash; fluent</p>
    </div>
  </div>
  <div class="footer">
    <button mat-flat-button color="primary" (click)="backToForm()">
      Back to form
    </button>
  </div>
</div>
